---
---

@import "{{ site.theme }}";

a {
  color: #4073FF;
}

a:hover {
  color: #000011;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

footer {
    display: none;
}

table, td, th {
    border: 0px;
}

img[alt=mythumb] { 
  width: 150px; 
  box-shadow: 3px 8px 8px 5px rgba(0,0,0,0.2);
  vertical-align: middle;
}

img[alt=mythumb]:hover { 
  box-shadow: 3px 8px 12px 10px rgba(0,0,0,0.2);
}

#downloads {
  margin-bottom: 0px;
}

header h1 {
  font-size: 48px; font-weight: 600;
}

header { 
    padding-top: 15px;
    padding-bottom: 10px;
}
