---
---

@import "{{ site.theme }}";
a {
  color: #0000ff;
}
a:hover {
  color: #000011;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

footer {
    display: none;
  }

table, td, th {
    border: 0px;
}

img[alt=mythumb] { width: 100px; }

