---
---

@import "{{ site.theme }}";
a {
  color: #0000ff;
}
a:hover {
  color: #000011;
}

footer {
    display: none;
  }

table, td, th {
    border: 0px;
}

img[alt=mythumb] { width: 100px; box-shadow: 20px 20px 20px 20px rgba(0,0,0,0.2);}

